/* 
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
} */

:root {
  height: 100%;
  background-image: radial-gradient(at 70% 51%, rgba(0, 41, 82, 0.5), rgb(9, 11, 17));
  background-size: cover;
  /* background-repeat: no-repeat; */
  background-color: black;
  color: rgba(255, 255, 255, 0.87);
}
